.animation-1 {
  .logo-letter {
    animation: slideUpAndFadeIn 1s ease-out, fullOpacity 1s 1s linear, scaleDownFadeOut .3s 2s ease-in;
  }
  .logo-full {
    animation: noOpacity 2s linear, scaleUpFadeIn .3s 2s ease-in;
  }
  .intro-message {
    animation: noOpacity 3s linear, fadeIn 1.5s 3s ease-out;
  }
}

@keyframes slideUpAndFadeIn {
  0% {
    margin-top: 30vh;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes fullOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes noOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scaleDownFadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes scaleUpFadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}