.logo-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 3.125rem;
  margin-top: -3.125rem;

  @include screen-breakpoint('sm') {
    height: 5rem;
    margin-top: -5rem;
  }

  @include screen-breakpoint('md') {
    height: 6.25rem;
    margin-top: -6.25rem;
  }
}
.logo {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  margin: 0 auto;
}

.logo-letter {
  height: 100%;
  opacity: 0;
}

.logo-full {
  display: block;
  width: auto;
  height: 2.5rem;
  margin-top: .3125rem;

  @include screen-breakpoint('sm') {
    height: 4rem;
    margin-top: .5rem;
  }

  @include screen-breakpoint('md') {
    height: 5rem;
    margin-top: .625rem;
  }
}